// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.katex-quick-render {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;  // displayMode: false renders to the right
}

.katex-failure {
  font-weight: bold;
  color: red;
}
